<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
        body {background-color: #df8757;
        color: #f9f9f9;
        
        font-family: 'Montserrat', sans-serif;
        display: grid;
        flex-direction: column;
    }

        form {
        display: grid;
        justify-content: flex-start;
        flex-direction: column;
        position: top;
        }
    </style>
    <title>{{ title }} - Our events list</title>
</head>

<body>
    <aside>
    <h1><u>Events List</u></h1>

    {% for event in events %}
    <div class="events">
        <b>{{ event.event_name}}</b> <br> {{ event.date }} <br>{{event.num_guest}}<br>
        {{event.room_loc}}<br>{{event.description}} <br>
        {% if event.confirmed %}
        <span> &#9989 </span>
        {% else %}
        <span> ❌ </span>
        {% endif %}
        
        {% if event.recurring %}
        <span> 🔄 </span>
        {% else %}
        <span> 🚫 </span>
        {% endif %}
        <br><br><br>
    </div> 
    {% endfor %}
    <p> &#9989 = Confirmed, ❌ = Unconfirmed</p>
    <p> 🔄  = Recurring Event, 🚫 = Non-Recurring Event</p>
    </aside>
    <div>
        
        <form action="/events" method="post">
            <br>
            <label for="name"> Event Name</label>
            <br>
            <input type="text" name="name" id="event_name">
             <br>
            <label for="date"> Date</label>
            <br>
            <input type="date" name="date" id="event_date">
            <br>
            <label for="guests"> Number of Guests</label>
            <br>
            <input type="text" name="guests" id="event_guests">
            <br>
            <label for="room"> Room</label>
            <br>
            <input type="text" name="room" id="event_room">
            <br>
            <label for="description"> Event Description</label>
            <br>
            <input type="text" name="description" id="event_description">
            <br>            
            <input type="submit" value="Add Event">
        </form>

    </div>

</body>

</html>