<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Our events list</title>
</head>

<body>
    <h1><u>Events List</u></h1>

    {% for event in events %}
    <div>
        <b>{{ event.event_name}}</b> <br> {{ event.date }} <br>{{event.num_guest}}<br>
        {{event.room_loc}}<br>{{event.description}}
    </div>
    {% endfor %}
    <div>
        <form action="/events" method="post">
            <label for="name"> Event Name</label>
            <input type="text" name="name" id="event_name">

            <label for="date"> Date</label>
            <input type="text" name="date" id="event_date">

            <label for="guests"> Number of Guests</label>
            <input type="text" name="guests" id="event_guests">

            <label for="room"> Room</label>
            <input type="text" name="room" id="event_room">

            <label for="description"> Event Description</label>
            <input type="text" name="description" id="event_description">
            
            <input type="submit" value="add event">


        </form>

    </div>

</body>

</html>